.nx-component {
  .sliders {
    padding: 0 0 0 64px;
  }

  & &__slider-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 32px 0 64px;
    overflow: hidden;
  }

  & &__slider-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
  }

  & &__slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 56px 0 0;
  }

  & &__slider-else-links {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    a {
      color: var(--color-white);
    }
  }

  & &__slider-images {
    display: flex;
  }

  & &__slider-img-container {
    border-radius: 16px;
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 0;
    max-width: 256px;

    .slider-image {
      width: 100%;
      object-fit: cover;
      object-position: left;
      transition: 0.2s;
      position: relative;
    }
  }

  .slider-image:hover {
    z-index: 1;
    cursor: pointer;
    scale: 1.1;
  }

  & &__slider-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    height: calc(100% + 3px);
    right: 0;
    padding-right: 36px;
    max-height: 166px;
    width: 200px;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
    transition: 0.2s;

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      background: #ffffff33;
      transition: 0.2s;
    }

    .arrow:hover {
      cursor: pointer;
      background-color: #ffffff4d;
    }

    &[data-button="1"] {
      opacity: 1;
    }

    &[data-button="0"] {
      opacity: 0;
    }
  }

  .prev {
    justify-content: flex-start;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    left: 0;
    padding-left: 36px;
    transition: 0.2s;

    .arrow {
      transform: rotate(180deg);
    }

    &[data-button="1"] {
      opacity: 1;
    }

    &[data-button="0"] {
      opacity: 0;
    }
  }

  @media (max-width: 980px) {
    .sliders {
      padding: 0 0 0 40px;
    }

    & &__slider-header {
      padding: 0 40px 0 0;
    }
  }

  @media (max-width: 590px) {
    .sliders {
      padding: 0 0 0 16px;
    }

    & &__slider-button {
      display: none;
    }

    .prev {
      display: none;
    }

    & &__slider-header {
      padding: 0 16px 0 0;
    }

    & &__slider-title {
      max-width: 132px;
      font-size: 18px;
      line-height: 18px;
    }

    & &__slider-else-links {
      font-size: 14px;
      line-height: 17px;
    }

    & &__slider-img-container {
      max-width: 218px;
    }
  }

  @media (max-width: 300px) {
    & &__slider-else-links {
      a[href="#"] {
        max-width: 80px;
      }
    }
  }
}
